<main class="invocie-detail">
  <div class="content-wrapper">
    <button [routerLink]="['']" class="back-btn custom-button">
      <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.342.886L2.114 5.114l4.228 4.228"
          stroke="#9277FF"
          stroke-width="2"
          fill="none"
          fill-rule="evenodd"
        />
      </svg>
      <span>Back</span>
    </button>

    @if(invoice$ | async; as invoice) {
    <app-invoice-detail-header [invoice]="invoice" />
    <app-invoice-detail-content [invoice]="invoice" />

    }
    <!-- <p>
      {{ (invoice$ | async)?.id }} || {{ (invoice$ | async)?.clientName }} ||
      {{ (invoice$ | async)?.clientEmail }}
      {{ (invoice$ | async)?.paymentDue }} ||
      {{ (invoice$ | async)?.status }}
    </p>

    @if(invoice$ | async; as invoice){
    <button (click)="deleteInvoice(invoice.id)">delete</button>
    <button (click)="markAsPaid(invoice.id)">Mark as paid</button>
    <button (click)="markAsPending(invoice.id)">Mark as pending</button>
    <button (click)="testInvoice(invoice.id)">Edit data</button>

    }

    <h1>Edit Invoice</h1>

    @if(invoice$ | async; as invoice){
    <app-invoice-form [invoice]="invoice" />

    } -->
  </div>
</main>
