.logo {
    width: 72px;
    height: 72px;
    position: relative;
    border-bottom-right-radius: 20px;
    overflow: hidden;

}

.top{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    overflow: hidden;
   
}

.top {
    background-color: var(--purple-light);
 
}


.bottom {
    background-color: var(--purple-deep);
    height: 50%;
}

.logo img {
    position: absolute;
    top: 22px;
    right: 22px;
}