.logo {
    width: 72px;
    height: 72px;
    position: relative;
    border-bottom-right-radius: 20px;
    overflow: hidden;

}

.top{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    // border-top-left-radius: ;
    overflow: hidden;
    background-color: var(--purple-light); 
}



.bottom {
    background-color: var(--purple-deep);
    height: 50%;
}

.logo img {
    position: absolute;
    top: 22px;
    right: 22px;
}

@media screen and (min-width: 860px) {
    .logo {
        width: 103px;
        height: 103px;
    }

    .logo img {
        height: 37.7px;
        top: 30px;
        right: 30px;
    }
}