nav {
    background-color: var(--save-as-draft-button-bg);
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
}

@media screen and (min-width: 860px) {
    nav {
        flex-direction: column;
        height: 100vh;
        width: 103px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .right{
        flex-direction: column;
    }

}