.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 100%;

}
img {
    border-radius: 50px;
    width: 32px;
}

@media screen and (min-width: 860px) {
    .profile{
        width: 103px;
        height: 103px;
    }


    img {
        width: 40px;
    }
}