.item {
    background-color: white;
    width: 327px;
    height: 134px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: space-between;
    .item-top,
    .item-bottom {
        display: flex;
        justify-content: space-between;
    }
}

.item-price {
    margin-top: 8px;
}
.status {
    width: 104px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 12px;
}

.status.pending {
    background-color: #fff5e8;
    color: #FF8F00;
    .round {
        background-color: #FF8F00;
    }
}

.status.paid {
    background-color: #e8fff7;
    color: #33D69F;
    .round {
        background-color: #33D69F;
    }

}

.status.draft {
    background-color: #ecefff;
    color: #373B53;
    .round {
        background-color:  #373B53;
    }
}
.round {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: black;
 
}

.bold {
    font-weight: bold;
}

.color-dark-gray {
    color: var(--dark-grey);
}