<div class="filter">
    <p class="filter-text">Filter by status</p>
    <svg class="filter-arrow" width="11" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4.228 4.228L9.456 1" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
    <form >

        <div class="filter-type-wrapper">
          <input id="draft" type="checkbox" name="draft">
          <label for="draft">Draft</label>
        </div>
        <div class="filter-type-wrapper">
          <input id="pending" type="checkbox">
          <label for="pending">Pending</label>
        </div>
        <div class="filter-type-wrapper">
          <input id="paid" type="checkbox" name="paid">
          <label for="paid">Paid</label>
        </div>
    </form>
</div>
