<div class="invoice-list">
    <app-nav-bar/>
    <div class="wrapper">    
        <div class="container">
        <div class="toolbar">
            <div>
                <h3 class="invoice">Invoices</h3>
                <p>{{(invoices$ | async)?.length}} Invoices</p>
            </div>
            <div class="toolbar-right">
                <app-filter/>
                <app-add-button/>
            </div>
         
        </div>
        <div class="items-container">
            @for (invoice of invoices$ | async; track invoice.id) {
                <app-list-item [item]="invoice" (click)="viewInvoiceDetails(invoice.id)"/>
            }
             @empty {

            <div class="empty-container">
                <div class="empty">
                    <img src="../../../../../assets/images/illustration-empty.svg" alt="">
                    <div>
                        <p class="empty-text-top"><strong>There is nothing here</strong></p>
                        <p>Create an invoice by clicking the <strong>New</strong>
                            button and get started
                        </p>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>

   
</div>