.container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 327px;
    .toolbar-right {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.invoice {
    margin-bottom: 3upx;
}

@media screen and (min-width: 480px) {
    .toolbar {
        width: 672px;
    }
}

@media screen and (min-width: 860px) {
    .invoice-list {
        display: flex;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .toolbar {
        width: 730px;
    }

}