@import url('https://fonts.cdnfonts.com/css/spartan');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

:root {
    --purple-deep: #7c5dfa;
    --purple-light: #9277ff;
    --deep-blue-deep: #1e2139;
    --deep-blue-ligher: #252945;
    --grey: #dfe3fa;
    --dark-grey: #888eb0;
    --light-blue: #7e88c3;
    --black-deep: rgb(12, 14, 22);
    --red-deep: rgb(236, 87, 87);
    --red-light: rgb(255, 151, 151);
    --white-smokish: rgb(248, 248, 251);
    --black-light: rgb(20, 22, 37);
    --edit-button-bg: #F9FAFE;
    --save-as-draft-button-bg: #373B53;
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    background-color: #F2F2F2;
    font-size: 12px;
    font-weight: 500;
}